@media only screen and (max-width : 600px) {
    #index-banner {
        height: 45vh;
    }
    .title {
        font-size: 3.2rem;
    }
    .subtitle {
        font-size: 1.25rem;
    }
}
@media only screen and (max-width : 992px) {
    nav #slide-out {
        box-shadow: 2px 0 10px rgba(0,0,0,0.8);
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
    nav #slide-out li a:hover {
        box-shadow: none;
    }
}
@media only screen and (min-width : 992px) {
    nav #slide-out {
        background: top left no-repeat url('../img/logo.svg') rgba(0,0,0,0.8);
        background-size: 200px;
    }
    #wrapper {
        padding-left: 220px;
    }
}