@import url("http://fonts.googleapis.com/css?family=Nunito:600,400,300");

* {
    z-index: 0;
}

#return {
    position: fixed;
    top: 0;
    left: 0;
    height: 35px;
    padding: 3px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(0,0,0,0.8);
    border-radius: 0 0 15px 0;
    border: transparent;
    border-bottom: 4px solid rgb(42,150,251);
    box-shadow: 2px 2px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 7px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 7px rgba(0,0,0,0.5);
    color: #CCC;
    z-index: 1;
}

#return p {
    display: table-cell; 
    vertical-align: middle;
    text-align: center; 
    text-transform: uppercase;
    font-size: 20px;
    font-family: Nunito, sans-serif;
    font-weight: 600;
}

#return:hover {
    color: #FFF;
}