/*************************************
NEW MATERIALIZE CLASSES
*************************************/
.waves-effect.waves-orange .waves-ripple
{
    background-color: rgba(255, 152, 0, 1.0);
}
.waves-effect.waves-green .waves-ripple
{
    background-color: rgba(76, 175, 80, 1.0);
}
.waves-effect.waves-teal .waves-ripple
{
    background-color: rgba(0, 150, 136, 1.0);
}
.waves-effect.waves-blue .waves-ripple
{
    background-color: rgba(47, 146, 208, 1.0);
}
.waves-effect.waves-gray .waves-ripple
{
    background-color: rgba(47, 146, 208, 1.0);
}

/*************************************
GENERAL STYLES
*************************************/
body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;

    background: #dfdfdf;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}
#wrapper
{
    display: inline-block;

    width: 100%;

    color: #2c3639;
}
h3
{
    text-transform: uppercase;
}
h3 i
{
    font-size: 2.5rem;

    margin: 0 10px;
    padding: 5px;

    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
}
.margin-top
{
    margin-top: 15px;
}
a,
a:visited
{
    color: #2b3638;
}
a:active,
a:hover
{
    color: rgba(0, 150, 136, .9);
}
.parallax-container
{
    box-shadow: inset  0  8px 8px -8px rgba(0,0,0,.9),
    inset  0 -8px 8px -8px rgba(0,0,0,.9);
}

.parallax img
{
    min-width: 800px;
}

/*************************************
NAVIGATION STYLES
*************************************/
nav
{
    height: 0;

    background: transparent;
}
#menu-button
{
    position: fixed;
    z-index: 2;
    top: 10px;
    left: 10px;

    background-color: rgba(0,0,0,.6);
}
#menu-button:hover
{
    position: fixed;
    z-index: 2;
    top: 10px;
    left: 10px;

    background-color: rgba(0,0,0,1.0);
}
nav #slide-out
{
    overflow: auto;

    height: 100%;

    background: rgba(0,0,0,.90);
    background-size: contain;
    box-shadow: inset -15px 0 15px -15px rgba(0,0,0,.9);
}
nav #slide-out li
{
    display: table;

    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
}
nav #slide-out li:nth-child(1)
{
    margin-top: calc(50vh - 150px);
}
nav #slide-out li:hover
{
    background: rgba(0,0,0,.0);
}
nav #slide-out li a
{
    display: table-cell;

    width: 100%;
    height: 100%;
    margin: 0;

    text-align: right;
    vertical-align: middle;

    color: #fff;
    background: rgba(0,0,0,.0);
    text-shadow: 1px 2px 2px rgba(0,0,0,.8);
}
nav #slide-out li a i
{
    margin: 5px 0 0 5px;
}
nav #slide-out li a:hover
{
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background: rgba(255,255,255,.5);
    box-shadow: inset -15px 0 15px -15px rgba(0,0,0,.9);
    text-shadow: 1px 2px 2px rgba(0,0,0,1.0);
}
ul.table-of-contents li a.active
{
    border-left: 15px solid;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-color: rgba(255,255,255,.1) !important;
}
ul.table-of-contents li.home a.active
{
    border-left-color: rgba(255,255,255,.8);
}
ul.table-of-contents li.about a.active
{
    border-left-color: rgba(255, 152, 0, 1.0);
}
ul.table-of-contents li.resume a.active
{
    border-left-color: rgba(76, 175, 80, 1.0);
}
ul.table-of-contents li.projects a.active
{
    border-left-color: rgba(0, 150, 136, 1.0);
}
ul.table-of-contents li.contact a.active
{
    border-left-color: rgba(47, 146, 208, 1.0);
}

/*************************************
HOME STYLES
*************************************/
#home
{
    min-height: 100vh;
    margin-bottom: 150px;
}
#index-banner
{
    height: 70vh;
}
#index-banner-content
{
    width: 100%;
    margin: 0;
    padding: 5px 0;

    background-color: rgba(0,0,0,.5);
}
.title
{
    color: rgba(255,255,255,.9);
    text-shadow: 1.5px 1px 3px rgba(0, 0, 0, .8);
}
.subtitle
{
    color: rgba(255,255,255,.9);
    text-shadow: 1.5px 1px 3px rgba(0, 0, 0, .8);
}
#index-content
{
    min-height: 30vh;
    margin-top: -20px;
    padding-top: 0;
}
#index-content .section .row .col a img,
#contact-content .section .row .col a img
{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    width: 100px;
    height: 100px;
    padding: 5px;

    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
}
#index-content .section .row .col a:hover,
#contact-content .section .row .col a:hover
{
    color: #2b3638;
}
#facebook img:hover
{
    background-color: rgba(255, 152, 0, 1.0);
}
#twitter img:hover
{
    background-color: rgba(76, 175, 80, 1.0);
}
#github img:hover
{
    background-color: rgba(0, 150, 136, 1.0);
}
#linkedin img:hover
{
    background-color: rgba(47, 146, 208, 1.0);
}
/*************************************
ABOUT STYLES
*************************************/
#about
{
    min-height: 100vh;
    margin-bottom: 150px;
}
#about-banner
{
    height: 30vh;
}
#about-banner-content
{
    width: 100%;
    margin: 0;
}
#about-content
{
    min-height: 70vh;
}
#about-content.container
{
    max-width: 850px;
}
h3.about i
{
    background-color: rgba(255, 152, 0, 1.0);
}

/*************************************
RESUME STYLES
*************************************/
#resume
{
    min-height: 100vh;
    margin-bottom: 150px;
}

#resume-banner
{
    height: 30vh;
}

#resume-banner-content
{
    width: 100%;
    margin: 0;
}

#resume-content
{
    min-height: 70vh;
}

h3.resume i
{
    background-color: rgba(76, 175, 80, 1.0);
}

#resumeContent
{
    width: 100%;
    min-width: 300px;

    text-align: left;
}

#resumeContent .header
{
    margin: 0 0 0 200px;

    text-align: left;
}

#resumeContent .header h2
{
    font-size: 1.875rem;
    font-weight: 700;

    margin: 0;
    padding: 0;

    color: rgba(76, 175, 80, 1.0);
}

#resumeContent .header h3
{
    font-size: .8rem;
    font-weight: 400;

    margin: 0 0 10px;
    padding: 0;

    color: #888;
}

#resumeContent .section
{
    display: flex;
    flex-direction: row;

    padding: 10px 0;

    justify-content: flex-start;
    align-items: flex-start;
}

#resumeContent .sectionHead
{
    display: inline-block;
    display: flex;

    box-sizing: border-box;
    width: 200px;
    min-width: 200px;
    padding: 0 10px;

    transition: all .5s ease;

    color: rgba(76, 175, 80, 1.0);
    border-right: 2px solid rgba(76, 175, 80, 1.0);
    border-bottom: none;

    justify-content: flex-end;
    align-items: flex-start;
}

#resumeContent .sectionContent
{
    font-size: .9rem;

    margin: 0 10px;

    color: #222;
}

#resumeContent .sectionContent ul
{
    margin: 0;
    padding: 0;
}

#resumeContent .sectionContent li.indent
{
    padding-left: 10px;
}

#resumeContent .job
{
    margin-bottom: 20px;
}

#resumeContent .job .experience p
{
    margin-top: 1px;
    padding-top: 1px;
}

#resumeContent .edu .experience p
{
    margin-top: 1px;
    padding-top: 1px;
}

/*************************************
PROJECTS STYLES
*************************************/
#projects
{
    min-height: 100vh;
    margin-bottom: 150px;
}
#projects-banner
{
    height: 30vh;
}
#projects-banner-content
{
    width: 100%;
    margin: 0;
}
#projects-content
{
    min-height: 70vh;
}
.tabs,
.tabs li.tab
{
    background-color: rgba(0,0,0,.0);
}
.tabs li.tab a
{
    font-size: 1.2rem;
    font-weight: 400;

    color: rgba(0, 150, 136, 1.0);
}
.tabs li.tab a:hover
{
    font-weight: 700;

    color: rgba(0, 150, 136, 1.0);
}
.tabs .indicator
{
    background-color: rgba(0, 150, 136, .6);
}
.gallery
{
    width: 100%;
    min-height: 70vh;

    list-style: none;
}
.gallery li
{
    display: inline-block;

    width: 27%;
    min-width: 170px;
    max-width: 270px;
    margin: 2.5% 2.5% 0;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-color: rgba(245,245,245,.8);
    box-shadow: 1px 1px 3px rgba(0,0,0,.8);
}
.gallery li img
{
    width: 100%;
    height: 100%;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
.gallery li p
{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
h3.projects i
{
    background-color: rgba(0, 150, 136, 1.0);
}

.gallery li img.materialboxed.active
{
    background: #fff;
}

/*************************************
CONTACT STYLES
*************************************/
#contact
{
    min-height: 100vh;
}
#contact-banner
{
    height: 30vh;
}
#contact-content
{
    min-height: 70vh;
}
#contact-banner-content
{
    width: 100%;
    margin: 0;
}
h3.contact i
{
    background-color: rgba(47, 146, 208, 1.0);
}



/*************************************
RESPONSIVE DESIGN MEDIA QUERIES
*************************************/

@media only screen and (max-width : 600px)
{
    #index-banner
    {
        height: 45vh;
    }
    .title
    {
        font-size: 3.2rem;
    }
    .subtitle
    {
        font-size: 1.25rem;
    }
    #resumeContent .header
    {
        margin: 0;
    }
    #resumeContent .section
    {
        display: flex;
        flex-direction: column;
    }
    #resumeContent .sectionHead
    {
        width: 100%;

        border-right: none;
        border-right: none;
        border-bottom: 2px solid rgba(76, 175, 80, 1.0);

        justify-content: flex-start;
    }
}
@media only screen and (max-width : 992px)
{
    nav #slide-out
    {
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
        box-shadow: 2px 0 10px rgba(0,0,0,.8);
    }
    nav #slide-out li a:hover
    {
        box-shadow: none;
    }
}
@media only screen and (min-width : 992px)
{
    nav #slide-out
    {
        background: top left no-repeat url('../img/logo.svg') rgba(0,0,0,.8);
        background-size: 200px;
    }
    #wrapper
    {
        padding-left: 220px;
    }
}
