.main-header {
    @extend %centered;
    padding-top: 170px;
    height: 850px;
    background: linear-gradient($color-prim, transparent 90%),
              	$color-prim url('#{$path-img}mountains.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    @media #{brk-narrow} {
        max-height: 380px;
        padding: 50px 25px 0;
        background: linear-gradient(#ffa949, transparent 90%),
        linear-gradient(to top, #fff, transparent 90%),
        #ffa949 url('../img/mountains.jpg') no-repeat center;
        background-size: cover;
    }
}

